.source-sans-3-regular {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-bold {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.source-sans-3-light {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
