:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-1: #222222;
  --color-grey-2: #444444;
  --color-grey-3: #666666;
  --color-grey-4: #888888;
  --color-grey-5: #aaaaaa;
  --color-grey-6: #bbbbbb;
  --color-grey-7: #cccccc;
  --color-grey-8: #dddddd;
  --color-grey-9: #eeeeee;
  --color-grey-10: #f8f8f8;
  --color-grey-13: #000;

  --color-error: #ff0000;
  --color-success: #3db014;
  --color-warning: #ffad1f;
  --color-info: #ffffff;

  --color-brand-primary: #000000;
  --color-brand-secondary: #ffffff;
}
