.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.card-title {
  text-align: center;
  color: #666666;
  max-width: 266px;
}

.ant-form-item {
  margin-bottom: 0;
}

.form-link {
  gap: 8px;
  color: #007bff;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}